@import "tailwindcss";

@font-face {
    font-family: font1;
    src: url('/fonts/Lausanne-300.woff2') format('woff2');
}

@font-face {
    font-family: font2;
    src: url('/fonts/Lausanne-500.woff2') format('woff2');
}

*{
    font-family: font1;
}
body
{
    overflow-x: hidden;
}
.overlay{
    pointer-events: all;
    cursor: pointer;
}
.overlay::after
{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top:-100%;
  background-color: yellow;
  cursor: pointer;
  transition: top .15s ease-in-out;
  pointer-events: none;
}
.overlay:hover::after
{
    top: 0;
}